body {
    font-family: sans-serif, arial;
    font-size: 18px;
}

h1, h2 {
    color: #0e8312;
}

h1 {
    font-size: 40px;
}


h2 {
    font-size: 25px;
}

.main-text {
    text-align: justify;
}

.author-text {
    font-size: 22px;
}